mixin field-new-password(className, label, placeholder, supportText, id, type, buttoLabel)

    .field-new(class=className) 
        if label
            label.field-new__label(for=id)= label
        .field-new__input-container
            input(type=type, placeholder=placeholder, id=id, value='').field-new__input
            if className == 'field-new--password'
                button.field-new__button(onclick="togglePassword()")
                    .field-new__button-icon 
                        include ..\..\img\svg\eye.svg
        span.field-new__supporting-text= supportText


    script.
        function togglePassword() {
            var input = document.getElementById('password');
            input.type = (input.type === 'password') ? 'text' : 'password';
        }