mixin formEnter(inputSettings, title)
  .form.form--enter
    h2.form__title.title= title
    form
      each item in inputSettings ? inputSettings : []
        .form__input
          label(for=item.id)= item.label
          input(name=item.name id=item.id type=item.type required)
      .form__wrapper
        .form__links
          a.form__link(href="#") Зарегистрироваться
          a.form__link(href="#")  Я забыл(а) пароль
        button(type="submit") Войти
